<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941354009008-c6urvhpsbdm7sfpbq4uldb4mje54q3ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941354009008-c6urvhpsbdm7sfpbq4uldb4mje54q3ev</string>
	<key>API_KEY</key>
	<string>AIzaSyDxWwdz2xiYydMfWKVFbFiKTnTURP2UNrU</string>
	<key>GCM_SENDER_ID</key>
	<string>941354009008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkayyalcin.YemekSiparisApp</string>
	<key>PROJECT_ID</key>
	<string>yemeksiparisapp-ad711</string>
	<key>STORAGE_BUCKET</key>
	<string>yemeksiparisapp-ad711.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941354009008:ios:335cdf1fbbde2a3baa1675</string>
</dict>
</plist>